
header {
  font-size: 70%;
  text-align: center;
}

p {
  font-size: 100%;
  text-align: center;
  font-style: italic;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
hr {
    display: block;
    margin-before: 0.5em;
    margin-after: 0.5em;
    margin-start: auto;
    margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 5px;
}
